.recipe {
  border-radius: 10px;
  box-shadow: 1px 1px 12px black;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}
